* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.container {
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  margin: 5px auto;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.left {
  height: 100%;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* its a chatgbt fix */
  justify-content: flex-start;
  gap: 5px;

  position: relative;
  transition: left 0.8s;
}

.home {
  max-height: 25%;
  width: 100%;

  position: relative;
  padding-left: 6px;
}

.logo {
  max-height: 40%;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.logo span {
  font-size: 24px;
  font-weight: 600;
}

.close {
  display: none;
  position: absolute;
  width: 30px;
  top: 15px;
  right: 15px;
}

.home ul {
  height: 60%;
  padding-left: 6px;
}

.home ul li {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 500;
  list-style: inside none;
  margin-top: 1%;
  padding: 7px 10px;
}

.home ul li img {
  width: 27px;
}

.library {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  padding: 0px 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* position: relative; */
}

.library>* {
  width: 94%;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
}

.heading img {
  width: 17px;
}

.song-list-container {
  flex-grow: 1;

  padding: 0px 10px;
  margin: auto;

  overflow-y: auto;
}

.song-list-container li {
  height: 48px;
  margin: 6px auto;
  padding: 5px 15px;
  list-style: inside none;

  box-sizing: border-box;
  border: 1px solid rgb(158, 153, 153);
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 20px;
}

.song-list-container li>img {
  width: 35px;
}

.song-bio {
  max-width: 80%;
}

.song-name {
  width: 95%;
  font-size: 14px;
}

.artist-name {
  color: inherit;
  font-size: 13px;
  opacity: 0.6;
}

.footer {
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

}

.footer a {
  text-decoration: none;
  color: gray;
}

.right {
  height: 100%;
  width: 70%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10 px;

}

.navbar {
  height: 50px;
  width: 100%;
  background-color: rgb(34 34 34);
  box-sizing: border-box;
  padding: 0px 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  height: 40px;
  padding: 4px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.hamburger {
  /* display: none; */
  width: 30px;
}

.login-btn>button {
  height: 35px;
  width: 80px;
  margin-right: 15px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  border: none;
}

/* It is the sign up button */
.login-btn :first-child {
  background-color: inherit;
  color: rgb(156, 151, 151);
}

.login-btn :first-child:hover {
  transform: scale(1.08);
  color: white;
  transform: all 0.3s;
}

/* It is the login button */
.login-btn :last-child:hover {
  transform: scale(1.08);
  transition: transform 0.3s;
}

.main {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
}

.main h1 {
  height: 40px;
  padding: 13px 10px 10px 10px;
}

.card-container {
  max-height: calc(100% - 40px);
  width: 96%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;

  overflow-y: auto;
}

.card {
  max-width: 100%;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
}

.card:hover {
  background-color: rgb(40, 40, 40);
}

.card-wraper {
  max-width: 85%;
  margin: auto;
  padding-bottom: 10px;
  border-radius: 12px;

  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.card-wraper>img {
  max-width: 100%;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 8px;
}

.card button {
  background-color: #1db954;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;

  position: absolute;
  right: 13%;
  top: 40%;
}

.card h2 {
  align-self: flex-start;
  font-weight: 500;
  font-size: 22px;
}

.card p {
  align-self: flex-start;
  font-size: auto;
  color: gray;
  font-size: 14px;
  padding-bottom: 5px;
}

.playbar {
  width: 100%;
  height: 15%;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  margin-top: 25px;
}

.seekbar-div {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  padding: 8px 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.seekbar {
  height: 5px;
  width: 85%;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: #1db954;
  transition: all 0.15s;

  position: relative;
  bottom: 4px;
  left: 0%;
}

.circle:hover {
  transform: scale(1.2) translateX(-50%);
  transition: all 0.3s;
}

.has-moved {
  width: 0;
  height: inherit;
  background-color: #1db954;
  transition: all 0.15s;

  position: absolute;
  bottom: 0;
}

.playbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.playbar-nav>div {
  width: 30%;
}

.playbar-nav :first-child {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-btn {
  height: 50px;
  padding: 4px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-btn>img {
  width: 35px;
  cursor: pointer;
}

.soundbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sound-btn {
  position: relative;
  left: 80%;
}

.volume-slider {
  height: 4px;
  width: 65%;
  opacity: 0;
}
 .loop-song {
    display: inline;
  }

  .play-random {
    display: inline;
  }


@media screen and (max-width: 430px) {

  .hamburger,
  .close {
    display: inline;
  }

  .left {
    width: 80%;
    padding-left: 0px;

    position: absolute;
    z-index: 10;
    left: -100%;
    top: 0;
  }

  .right {
    width: 100%;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
  }

  .loop-song {
    display: none;
  }

  .play-random {
    display: none;
  }
}

@media screen and (min-width: 431px) {

  .hamburger,
  .close {
    display: inline;
  }

  .left {
    width: 70%;

    position: absolute;
    z-index: 10;
    left: -100%;
    top: 0;
  }

  .right {
    width: 100%;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .loop-song {
    display: none;
  }

  .play-random {
    display: none;
  }
}

@media screen and (min-width: 600px) {

  .hamburger,
  .close {
    display: inline;
  }
     .loop-song,
  .play-random {
    display: inline;
  }

  .left {
    width: 50%;

    position: absolute;
    z-index: 10;
    left: -100%;
    top: 0;
  }

  .right {
    width: 100%;
  }

  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 800px) {

  .hamburger,
  .close {
    display: none;
  }

  .left {
    width: 35%;
    position: inherit;
  }


  .right {
    width: 65%;
    position: inherit;

  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  

}

@media screen and (min-width: 1000px) {

  .left {
    width: 35%;
    position: inherit;
  }


  .right {
    width: 65%;
    position: inherit;

  }

  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (min-width: 1200px) {
  .left {
    width: 26%;
    position: inherit;
  }

  .right {
    width: 74%;
    position: inherit;

  }

  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .left {
    width: 26%;
    position: inherit;
  }

  .right {
    width: 74%;
    position: inherit;

  }

  .card-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1700px) {
  .left {
    width: 25%;
    position: inherit;
  }

  .right {
    width: 75%;
    position: inherit;

  }

  .card-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 2000px) {
  .left {
    width: 25%;
    position: inherit;
  }

  .right {
    width: 75%;
    position: inherit;

  }

  .card-container {
    grid-template-columns: repeat(7, 1fr);
  }
}